footer{
    margin-top: 0%;
    background-color: #43407f;
}

#footer_items{
    margin-top: 0%;
    display: flex;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #f6f6ff;
    font-weight: 500;
}


@media screen and (max-width: 600px){
    #footer_items{
        flex-direction: column;
        gap: 20px;
    }
}
