#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

a{
    text-decoration: none;
}

#cta{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 5rem;
    color: #1d1d1d;
}

#cta .title span {
    color: var(--color-primary-2);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 100%;
    z-index: 2;
  }
  
  #banner img{
    height: auto;
    width: 600px;
    position: relative; 
  }
  
  .shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 550px;
    position: absolute;
    border-radius: 40% 30% 0% 100px;
    top: 75px;
    right: 0;
    z-index: 1;
  }

  .shape img{
    width: 580px;
    position: absolute;
    bottom: 0;
    left: 100px;
  }

  @media screen and (max-width: 1170px) {
    #home{
        min-height: 100%;
        padding-top: 0pxS;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
  }

  @media screen and (max-width: 450px){
    #phone_button button {
        display: none;
    }
  }