@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('footer.css');


:root{
  --color-primary-1: #f6f6ff;
  --color-primary-2: #43407f;
}

html {
  scroll-behavior: smooth;
}

*{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-1);
}

section {
  padding: 28px 8%;
  border: none;
}

.btn-default{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d97706;
  color: #fff;
  border-radius: 12px;
  padding: 10px 14px ;
  font-weight: 500;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1) ;
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-default:hover{
  background-color: #fff;
  box-shadow: 0 0 2px 2px #d97706;
  color: #d97706;
}

.social-media-buttons {
  display: flex;
  gap: 18px;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: #fff;
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #1d1d1d;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
  box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

