body{
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dad9f0;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.301);
}
input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #d97706;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #a56317;
}

.titulo h2{
    padding: 10px;
    background-color: #43407F;
    color: white;

}