*{
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: rgb(249, 246, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 730px;
    background-color: #4b478d;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    overflow: hidden;
}

.user-type-selector {
    width: 40%;
    background-color: #fff;
    color: white;
    padding: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-type-selector button {
    background: none;
    border: none;
    color: black;
    padding: 15px 25px;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.user-type-selector button.active {
    background-color: #4b478d;
    color: white;
    font-size: 18px;
}

.login-form {
    width: 60%;
    padding: 40px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #f38302;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form p {
    margin-top: 20px;
}

.cad-link{
    color: black;
}
.cad-link:hover{
    color: #ff8800;
}