*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    width: 100%;
    display: flex;    
}

main{
    display: flex;
    flex: 2;
}

li, a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/*-------------------HEADER DA HOME--------------------*/
header{
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.logo{
    height: 80px;
    width: 220px;
    background-color: white;
}

.nav_links{
    cursor: default;
}
.nav_links li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a{
    color: white;
}

.acessButtons{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}

.login{
    margin-left: 20px;
}

/*----------------------------PÁGINA PAINEL DE ADMINISTRADOR----------------------------*/

/*-------------MENU LATERAL-------------*/
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 100vh;
    flex-shrink: 0;
    background-color: 	#43407F;
    position: relative;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar_logo{
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar .profile{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.sidebar .profile p{
    font-size: 22px;
    color: white;
    text-align: center;
}

.sidebar_nav{
    width: 100%;
}
.sidebar_nav_links{
    background-color: #43407F;
}
.sidebar_nav_links a{
    color: white;
}
.sidebar_nav_links a li{
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}
.sidebar_nav_links a li:hover, .sidebar_nav_links a .side_active{
    background-color: #A393F5;
    color: #111827;
}

#menuToggle {
    position: fixed; /* Sai do fluxo da sidebar */
    top: 20px;
    left: 250px; /* Ajuste conforme a largura da sidebar */
    width: 32px;
    height: 35px;
    background-color: chocolate;
    border-radius: 0 10px 10px 0;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: left 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar.collapsed {
    width: 0;
}
.sidebar.collapsed + .content {
    width: 100%;
    padding: 40px 100px;
    transition: all 0.3 ease-in-out;
}
.sidebar.collapsed + .content .container{
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content)); 
}




/*-------------CONTEÚDO DO PAINEL-------------*/
.content {

    flex: 1;
    min-height: 100vh;
    background-color: #f6f6ff;
    padding: 40px 85px;
    width: calc(100% - 250px); /* Quando o menu estiver expandido */
    transition: all 0.3 ease-in-out;

}

.titulo1, .titulo2{
    color: #38356b;
    margin-bottom: 6px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #38356b;
    border-bottom: 2px solid #38356b;
    padding: 15px 0 9px 0;
 }

.button{
    padding: 10px;
    background-color: #d97706;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.4s;
    padding: 10px 20px;
}

.button:hover {
    background-color: white;
    color: #d97706;
    box-shadow: 0 0 2px 2px #d97706;
}

.addbutton{
    height: 90%;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content)); 
    gap: 27px;
    justify-content: center;
    align-content: start;
    padding: 25px 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
    border-radius: 0 0 10px 10px;
}

.filha {
    width: 200px;
    height: 150px;
    background-color:#A393F5;
    color: #43407F;
    box-shadow: 2px 2px 3px  #43407fb4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

.filha:hover{
    transform: scale(1.05);
    background-color: #5c4db4;
    cursor: pointer;
    color: white;
}

/*-------------OVERLAY DE CADASTRO AMBIENTE-------------*/

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.836);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-container .close{
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f44336;
    font-size: 17px;
    color: white;
    border: 1px solid #f44336;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.281);
}

.form-container {
    position: relative;
    background: white;
    border-radius: 5px;
    text-align: center;
    width: 650px;
}

.form-title{
    background-color: #43407F;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container p{
    padding: 5px 15px;
    margin: 10px 0;
    font-size: 1.15rem;
}

.form-container .obs{
    background-color: #e538352a;
}

.form-overlay {
    margin-top: 20px;
    margin-bottom: 10px;
}

form input {
    margin: 10px;
    padding: 10px;
    width: 250px;
}

form label{
    font-size: 1.2rem;
    font-weight: bold;
}


button#closeOverlay {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

button#closeOverlay:hover {
    background-color: #e53935;
}

.form-container-user{
    width: 450px;
}
.form-cadastro-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.form-cadastro-user input{
    margin-bottom: 20px;
    width: 300px;
}

.overlay-box{
    display: flex;
    flex-direction: column;
    color: #38356b;
    font-weight: bold;
}

.confirm{
    background-color: rgb(219, 20, 20);
    color: white;
}
.confirm:hover{
    color: rgb(219, 20, 20);
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(219, 20, 20);
}

.cancel{
    background-color: rgb(21, 163, 21);
    color: white;
}
.cancel:hover{
    color: rgb(21, 163, 21);
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(21, 163, 21);
}

.confirm, .cancel{
    margin: 2px;
    margin-top: 20px;
}

/*----------------------------AMBIENTE----------------------------*/

.panel_navs{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d97706;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.24);
}

.panel_navs a{
    margin: 0 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #38356b;
    padding-bottom: 0;
}

.panel_navs .active-link, .panel_navs a:hover{
    color: #d97706;
    padding-bottom: 3px;
}

.container-pf, .container-al, .container-reg{
    display: flex;
}
.table-pf, .table-al{
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: justify;
}

.table-pf tbody tr:nth-child(odd){
    background-color: rgb(230, 231, 233);
}
.table-pf tbody tr td:nth-child(1){
    border-left: 1px solid rgb(194, 194, 194);
}
.table-pf tbody tr td:nth-child(2){
    border-right: 1px solid rgb(194, 194, 194);
    border-left: 1px solid rgb(194, 194, 194);
}
.table-pf tbody tr td:nth-child(3){
    border-right: 1px solid rgb(194, 194, 194);
}
.table-pf tbody tr:nth-child(1){
    border-top: 1px solid rgb(194, 194, 194);
}
.table-pf tbody tr:nth-last-child(1){
    border-bottom: 1px solid rgb(194, 194, 194);
}
.table-pf tbody tr td .edt{
    cursor: pointer;
    border: none;
    background: none;
    width: 90%;
    height: 90%;
}
.table-pf tbody tr td .edt:hover{
    width: 100%;
    height: 100%;
}

.rmv{
    background: none;
    transition: 0.3s;
    color: rgb(219, 20, 20);
    font-size: 20px;
}
.rmv:hover{
    background-color:rgb(219, 20, 20);
    color: white;
}

.btn-table{
    margin: 20px 7px 0 0;
}

.table-al tbody tr:nth-child(odd){
    background-color: rgb(230, 231, 233);
}
.campoBloco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.campoBloco input{
    width: 90%;
}
.table-al tbody tr td:nth-child(1){
    border-left: 1px solid rgb(194, 194, 194);
}
.table-al tbody tr td:nth-child(2){
    border-right: 1px solid rgb(194, 194, 194);
    border-left: 1px solid rgb(194, 194, 194);
}
.table-al tbody tr td:nth-child(3){
    border-right: 1px solid rgb(194, 194, 194);
}
.table-al tbody tr:nth-child(1){
    border-top: 1px solid rgb(194, 194, 194);
}
.table-al tbody tr:nth-last-child(1){
    border-bottom: 1px solid rgb(194, 194, 194);
}

.container-pf form{
    width: 100%;
    margin: 0;
}

.table-pf tbody tr td{
    padding: 13px;
}

.table-pf tbody tr td select{
    padding: 5px;
    width: 100%;
}
.table-al tbody tr td:nth-last-child(1){
    padding: 20px;
}
.table-pf tbody tr td:nth-last-child(1){
    text-align: center;
}



.table-reg {
    width: 100%;
    text-align: center;
}
.table-reg tbody tr td:nth-child(1), .table-reg tbody tr td:nth-child(2){
    width: 45%;
}

.table-reg tbody tr{
    background-color: rgb(230, 231, 233);
}
.table-reg tbody tr .td-al{
    padding: 10px 0;
}

.tabela-responsaveis tbody td{
    padding: 10px 0;
}

.tabela-responsaveis thead tr th{
    background-color: white;
}

.responsaveis-container {
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border-left: 3px solid #38356bd2;    
}

thead{
    color: #38356b;

}


.btn-toggle:hover{
    color: #504c99;
}
.btn-edit{
    background: none;
}
.btn-edit:hover{
    color: #d97706;
}

.btn-delete-aluno:hover{
    color: #db1414;
}

.btn-rmv{
    padding: 7px 8px;
    margin: 3px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}

/*------------------------------------ALUNOS----------------------------------------*/
.foto-sidebar{
    width: 130px;
    height: 130px;
}

.foto-card{
    width: 40px;
    height: 40px;
}

/*------------------------------------RECADOS-----------------------------------------*/

.container-recados{
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 20px 0;
}

.recado-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
}

.recado-menu button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    width: 80%;
}

.recado-menu button.active {
    background-color: #5c4db4;
    color: white;
}

.recado-section {
    display: none;
    width: 70%;
    padding: 0 20px;
    border-left: 2px solid #E5E7EB;
}

.recado-section input{
    margin: 0;
}

.recado-section.active {
    display: block;
}

.recado-form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.recado-form input, .recado-form textarea, .recado-form select {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 15px;
}
.recado-form .datetime{
    color: #43407F;
    font-weight: bold;
}

.recado-form #arquivo{
    width: 100%;
    color: #43407F;
    font-weight: bold;

}
.recado-form textarea{
    height: 120px;
}

.recado-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-anexo{
    font-weight: bold;
    color: #5c4db4;
}

.link-anexo:hover{
    text-decoration: underline;
    color: #5c4db4;
    font-style: italic;
}

.anexo-data-envio{
    margin-bottom: 10px;
}
.recado-aluno{
    margin: -10px 0 10px 0;
}

.recado-card {
    position: relative;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.icone-recado {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.modal input {
    margin-bottom: 10px;
    padding: 6px;
}

.anexar{
    display: flex;
    flex-direction: row;
}

.label-anexos{
    margin-bottom: 5px;
}

.addAnexo{
    border-radius: 100%;
    border: none;
    background-color: #5c4db4;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addAnexo:hover{
    cursor: pointer;
    background-color: white;
    color: #5c4db4;
    box-shadow: 0 0 2px 2px #5c4db4;
}


.btn-remover-anexo {
    all: unset;
    cursor: pointer;
}

/*------Modal Edição------*/

.modal-title{
    width: 100%;
    background-color: #43407F;
    color: white;
    padding: 10px;
    text-align: center;
}

.modal-editar{
    padding: 15px;
}

.modal-overlay .modal-editar input, .modal-overlay .modal-editar textarea{
    margin: 2px 0 0 0;
    padding: 5px;
    width: 100%;
}

.modal-overlay .modal-editar label{
    margin-top: 7px;
}


.modal-title-editar-aluno{
    margin-bottom: 20px;
}

#form-editar-aluno input{
    margin: 0;
}

.modal-h3{
    margin-bottom: 7px;
}

/*--------------------------PESQUISAR------------------------*/

.card{
    width: 200px;
    height: 80px;
    background-color:#f5f5f5;
    color: #38356b;
    border: 1px solid  #43407f42;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 18px;
    flex: 1;
    text-align: left;
    word-break: break-word;
}

.profile-pic{
    display: flex;
    align-items: center;
    padding: 0 7px;
}
.profile-name{
    width: 100%;
    max-height: 75px;
    padding: 2px 5px 2px 0;
    overflow: hidden;
}

/*----------------------CONFIGURAÇÕES-----------------------*/

.form-senha {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 10px;
}

.form-senha input {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 8px;
    font-size: 16px;
}

.mensagem {
    margin-top: 10px;
    color: #cc0000;
    font-weight: bold;
}

.mensagem-exito{
    margin-top: 10px;
    color:rgb(13, 126, 13);
    font-weight: bold;
}





