body{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

.header{
    display: flex;
    background-color: #222222;
    height: 58.5px;
    width: 100%;
}

.footer{
    display: flex;
    background-color: #222222;
    height: 140px;
    width: 100%;
    margin-bottom: -18px;
}

.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 24px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 10px;
}

.form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0;
}

.form-header{
    display: flex;
    justify-content: space-between;
}

.input-group h5::after,
.input-group2 h5::after,
.input-group3 h5::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #6495ED;

}

.input-group, .input-group3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-group2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-group, .input-group3{
    padding-bottom: 0;
    padding-top: 0;
}

.input-group h5, .input-group3 h5{
    margin-top: 0;
}

h5{
    width: 100%;
}

.input-name{
    width: 100%;
}

.input-date{
    width: 47%;
}

.input-rua{
    width:69%;
}

.input-num {
    width: 26%;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.3rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0.7px 0.7px 6px rgba(0, 0, 0, 0.514);
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #6c63ff
}

.input-box label,
.gender-title h6{
    font-size: 0.8rem;
    font-weight: 600;
    color: #000000c0;
}

.gender-inputs{
    margin-top: -10px;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    font-size: 0.93rem;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    background-color: rgba(39, 58, 230, 0.911);
    padding: 0.75rem;  
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover{
 
    background-color: rgba(39, 58, 230, 0.788);
}



@media screen and (max-width: 1330px) {

    .container{
        width: 50%;
    }

    .form{
         width: 80%;
    }
}

@media screen and (max-width: 1100px){
    .container{
        max-width: 550px;
        min-width: 470px;
    }

    .form{
        width: 435px;
    }
}