@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
    backdrop-filter: blur(30px);
    margin-bottom: -12px;

}

div#borda {
    background-color:#222222;
    color: rgb(202, 187, 187);
    padding: 29.5Px; 
}

div#borda-cima {
    background-color:#222222;
    color: rgb(202, 187, 187);
    padding: 35Px;
    margin: -19px -8px auto -10px;
}

div#buttom {
    position: absolute;
    margin-top: -17px;
}

.botoes {
    background-color: #222222;
    border: 1.5px solid white;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.botoes3 {
    background-color: #222222;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.botoes3:hover {
    text-decoration: none;
    color: rgb(201, 193, 193);
}

.button{
    background-color: #222222;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
    text-decoration: none;
    color: rgb(201, 193, 193);
}

.botoes:hover {
    background-color: #726e6e;
    text-decoration: none;
    color: white;
}

div#borda-inferior {
    background-color:#222222;
    color: rgb(202, 187, 187);
    padding: 70px;
    margin-top: 30px;
}

div#banner-position {
    background-color:lightblue;
    margin-top: 50px;
    margin-left: 107px;
    width: 1141px;
    height: 448px;
    margin-bottom: 50px;
    border: 2px solid #7293c4;
}

div#banner-position img{
    position: relative;
}

div#banner-position img#banner {
    height: 447px;
    width: 560px;
}

div#banner-position h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    margin-top: -400px;
    margin-left: 600px;
    position: absolute;
}
div#banner-position p {
    font-size: 20px;
    margin-top: -350px;
    margin-left: 600px;
    position: absolute;
    color: black;
}

/* Formatação Menu */


div#borda-menu {
    background-color:rgba(78, 214, 151, .4);
    padding: 12px;
    margin: -9px 105px auto 84px;
    position: relative
}
nav#menu {
    display: block;
}

.botao-menu {
    background-image: linear-gradient(to right, rgba(78, 214, 151, .4), rgb(78, 214, 151));
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-menu:hover {
    background-color: rgb(113, 255, 208);
}

div#pesquisa h2 {
    margin-left: 84px;
    font-family: Arial, Helvetica, sans-serif;
}

div#pesquisa input#pesquisa1{
    position: relative;
    top: -43px;
    left: 260px
}

div#pesquisa input#pesquisa2 {
    position: relative;
    top: -43px;
    left: 260px
}

div#categoria a {
    border-radius: 20px;
    padding: 10px 28px;
    background-color: #7a9dd1;
    border: none 2px solid ;
    cursor: pointer;
    block-size: 40px;
    width: 100px;
    margin-left: 612px; 
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 1144px;
  background-color: rgb(39, 76, 156);
  position: relative;
  margin: auto 84px;
  height: 430px;
}

/* Caption text */
div.text {
    margin-left: 468px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(88, 128, 151);
}

.text {
  color: rgb(1, 255, 137);
  font-size: 20px;
  font-family: 'Orelega One', cursive;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}


#meuCarousel{
    margin-top: 7rem;
}

.glyphicon{
    color: #222222;
    opacity: 1;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-top: -45px;
}

.carousel-indicators .active{
    background-color: cornflowerblue;
}

.carousel-indicators li {
    border: 2px solid #222222;
    background-color: cornflowerblue
}
.carousel-indicators {
    width: 200px;
    margin-left: -95px ;
    margin-bottom: -10px;
}

.active{
    background-color: white;
}

.carousel-control{
    opacity: 0;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left  {
    background-image: none;
}

.carousel-inner{
    height: 350px;
}

.ongs{
    display: flex;
    margin-left: 150px;
    width:300px;
    height:400px;
    border: 1px solid rgb(18, 80, 172);
    background-color: lightblue;
}

.text-ong{
    margin-top:230px;
    margin-left: -200px;
    text-align: center;
}

.bt-ong{
    color: white;
    background-color: rgba(39, 58, 230, 0.911);
    width: 90%;
    height: 35px;
    margin-left: -220px;
    margin-top: 299.5px;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.bt-ong2{
    color: white;
    background-color: rgba(39, 58, 230, 0.911);
    width: 90%;
    height: 35px;
    margin-left: -267.8px;
    margin-top: 340px;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.modal-content{
    margin-top: 100px;
}

.modal-header{
    background-color: cornflowerblue;
    color: white;
}

.modal-body{
    color: black;
}

.fade{
    opacity: 1;
}

.fade:note(.show){
    opacity: 0;
}

.modal-body a{
    background-color: rgb(59, 102, 182);
    border-radius: 50px;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary{
    background-color: #6c757d;
    color: white;
}

.btn:hover{
    background-color: #616970;
    color: white;
}