body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 91, 153);
    font-size: 14px;
}

.header{
    display: flex;
    background-color: #222222;
    height: 55px;
    width: 100%;
    margin-bottom: 60px;
    justify-content: center;
}

.menu-sup, .nav-button{
    display: flex;
    width: 45%;
    align-items: center;
}

.menu-sup{
    justify-content: flex-start;
}
.nav-button{
    justify-content: flex-end;
}

.nav a{
    padding: 7px 20px 25px;
}

.nav2{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    justify-content: space-between;
    padding-right: 20px;
}

.nav2 h3{
    margin: 0;
    padding: 0;
}

.nav2 a{
    color: white;
    background-color: #3c56ed;
    border-radius: 15px;
    padding: 6px 15px;
    font-weight: 600;
}

.nav2 a:hover{
    text-decoration: none;
    background-color: white;
    color: #3c56ed;
    font-weight: bold;
}

.ativo{
    text-decoration: none;
    background-color: rgb(55, 91, 153);
    border-radius: 9px 9px 0px 0px;
    position: relative;
    top: 7px;
    color: white;
    font-weight: 600;
}

.ativo:hover{
    text-decoration: none;
    color: white;
}

.inativo{
    color: white;
}

.inativo:hover{
    text-decoration: none;
    color: #3c74ed;
    cursor: pointer;
}

.footer{
    display: flex;
    background-color: #222222;
    height: 140px;
    width: 100%;
    margin-bottom: -18px;
    margin-top: 60px;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 342.4px;
    padding-top: 10px;
}

.tittle{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 30%;
    padding: 0px 20px;
}

.tittle::after{
    content:'';
    background-color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: 0.2rem;
}

.content{
    display: flex;
    width: 91%;
    height: 70%;
    justify-content: space-around;
}

.faleco p{
    margin-top: 14.5px;
    font-size: 2.5rem;
    font-weight: bold;
}

.faleco{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropbtn {
    background-color: #222222;
    color: white;
    padding: 13px 15px;
    font-size: 16px;
    border: none;
}
   
.dropdown {
    position: relative;
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #353535;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #353535;
}
  
.dropdown-content a:hover {
    background-color: #464646;
    color: #b0cdf8;
}
 
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0px 0px 25px 25px;
}
 
.dropdown:hover .dropbtn {
    background-color: #353535;
    border-radius: 25px 25px 0px 0px;
}