body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 91, 153);
    font-size: 14px;
}

.header{
    display: flex;
    background-color: #222222;
    height: 55px;
    width: 100%;
    margin-bottom: 60px;
    justify-content: center;
}

.menu-sup, .nav-button{
    display: flex;
    width: 45%;
    align-items: center;
}

.menu-sup{
    justify-content: flex-start;
}
.nav-button{
    justify-content: flex-end;
}

.nav a{
    padding: 7px 20px 25px;
}

.nav2{
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    justify-content: space-between;
    padding-right: 20px;
}

.nav2 h3{
    margin: 0;
    padding: 0;
}

.nav2 a{
    color: white;
    background-color: #3c56ed;
    border-radius: 15px;
    padding: 6px 15px;
    font-weight: 600;
}

.nav2 a:hover{
    text-decoration: none;
    background-color: white;
    color: #3c56ed;
    font-weight: bold;
}

.ativo{
    text-decoration: none;
    background-color: rgb(55, 91, 153);
    border-radius: 9px 9px 0px 0px;
    position: relative;
    top: 7px;
    color: white;
    font-weight: 600;
}

.ativo:hover{
    text-decoration: none;
    color: white;
}

.inativo{
    color: white;
}

.inativo:hover{
    text-decoration: none;
    color: #3c74ed;
    cursor: pointer;
}

.footer{
    display: flex;
    background-color: #222222;
    height: 140px;
    width: 100%;
    margin-bottom: -18px;
    margin-top: 60px;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
    background-color: rgb(195, 210, 238);
    border: 2px solid rgba(0, 0, 255, 0.432);
    margin-bottom: 70px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.445);
}

.banner-img, .texto{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
}
.img{
    width: 512px;
    height: 407px;
}

.texto{
    text-align: justify;
    font-size: 2.25rem;
    padding-right: 70px;
    padding-left: 10px;
}


.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}


#meuCarousel{
    margin-top: 7rem;
}

.glyphicon{
    color: #222222;
    opacity: 1;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-top: -45px;
}

.carousel-indicators .active{
    background-color: white;
}

.carousel-indicators li {
    border: 2px solid #222222;
    background-color: white;
}
.carousel-indicators {
    width: 200px;
    margin-left: -95px ;
    margin-bottom: -10px;
}

.active{
    background-color: white;
}

.carousel-control{
    opacity: 0;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left  {
    background-image: none;
}

.carousel-inner{
    height: 350px;
}

.ongs{
    display: flex;
    margin-left: 150px;
    width:300px;
    height:400px;
    border: 1px solid rgb(18, 80, 172);
    background-color: lightblue;
}

.text-ong{
    margin-top:230px;
    margin-left: -200px;
    text-align: center;
}

.bt-ong{
    color: white;
    background-color: rgba(39, 58, 230, 0.911);
    width: 90%;
    height: 35px;
    margin-left: -220px;
    margin-top: 299.5px;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.bt-ong2{
    color: white;
    background-color: rgba(39, 58, 230, 0.911);
    width: 90%;
    height: 35px;
    margin-left: -267.8px;
    margin-top: 340px;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.modal-content{
    margin-top: 130px;
}

.modal-header{
    background-color: cornflowerblue;
    color: white;
}

.item {
    background-color: rgb(55, 91, 153);
}

.fade{
    opacity: 1;
}

.modal-body{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal-body a{
    background-color: rgb(59, 102, 182);
    border-radius: 50px;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: list-item;
    font-size: 14px;
    margin-top: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}

.btn-secondary{
    background-color: #6c757d;
    color: white;
}

.btn:hover{
    background-color: #616970;
    color: white;
}

.dropbtn {
    background-color: #222222;
    color: white;
    padding: 13px 15px;
    font-size: 16px;
    border: none;
}
   
.dropdown {
    position: relative;
    display: inline-block;
}
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #353535;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    background-color: #353535;
}
  
.dropdown-content a:hover {
    background-color: #464646;
    color: #b0cdf8;
}
 
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0px 0px 25px 25px;
}
 
.dropdown:hover .dropbtn {
    background-color: #353535;
    border-radius: 25px 25px 0px 0px;
}
