body{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
}

.header{
    display: flex;
    background-color: #222222;
    height: 58.5px;
    width: 100%;
}

.footer{
    display: flex;
    background-color: #222222;
    height: 140px;
    width: 100%;
    margin-bottom: -18px;
}

.container{
    width: 80%;
    height: 70vh;
    display: flex;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .212);
}

/*.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 24px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 10px;
}*/

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img{
    max-width: 31rem; 
    max-height: 403px;
    min-width: 28rem;
    min-height: 355px;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.form-header img{
    display: none;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color:rgba(24, 45, 240, 0.911);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: rgba(100, 112, 223, 0.911);
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-name{
    width: 100%;
}

.input-date{
    width: 47%;
}

.input-rua{
    width:69%;
}

.input-num {
    width: 26%;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0.7px 0.7px 6px rgba(0, 0, 0, 0.514);
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #6c63ff
}

.input-box label,
.gender-title h6{
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-right: 0.35rem;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button{
    width: 100%;
    margin-top: 0rem;
    border: none;
    background-color: rgba(39, 58, 230, 0.911);
    padding: 0.62rem;  
    border-radius: 5px;
    cursor: pointer;
}

.endereco {
    margin-top: -3.1rem;
}

.continue-button button:hover{
    background-color: rgba(100, 112, 223, 0.911);
}

.continue-button button a{
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    .form-image{
        display: none;
    }

    .form-header img{
        display: block;
    }

    .container{
        width: 400px;
        border-radius: 10px;
    }

    .form{
         width: 100%;
         border-radius: 10px;
    }
}
