body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 91, 153);
    font-size: 14px;
}

.header{
    display: flex;
    background-color: #222222;
    height: 55px;
    width: 100%;
    justify-content: center;
}

.menu-sup, .nav-button{
    display: flex;
    width: 45%;
    align-items: center;
}

.menu-sup{
    justify-content: flex-start;
}
.nav-button{
    justify-content: flex-end;
}

.nav a{
    padding: 7px 20px 25px;
}

.nav2{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-right: 20px;
}

.nav2 a{
    color: white;
    background-color: #3c56ed;
    border-radius: 15px;
    padding: 6px 15px;
    font-weight: 600;
}

.nav2 a:hover{
    text-decoration: none;
    background-color: white;
    color: #3c56ed;
    font-weight: bold;
}

.nav-sair a:hover{
    background-color: white
    
}

.ativo{
    text-decoration: none;
    background-color: rgb(55, 91, 153);
    border-radius: 9px 9px 0px 0px;
    position: relative;
    top: 7px;
    color: white;
    font-weight: 600;
}

.ativo:hover{
    text-decoration: none;
    color: white;
}

.inativo{
    color: white;
}

.inativo:hover{
    text-decoration: none;
    color: #3c74ed;
    cursor: pointer;
}

.footer{
    display: flex;
    background-color: #222222;
    height: 140px;
    width: 100%;
    margin-bottom: -18px;
}

.container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0px;
}

.ong{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 800px;
    height: 100%;
    margin-right: 100px;
    flex-direction: column;
    padding: 5px 60px;
    text-align: justify;
    border-radius: 7px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.ong p{
    font-size: 2.5rem;
}

.ong h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.7rem;
    background-color: #6495ED;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ong2{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.apoio p{
    font-size: 2rem;
    padding: 0px 90px;
}

.doar a{
    background-color: #3c56ed;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}

.doar a:hover{
    text-decoration: none;
    color: #3c56ed;
    background-color: white;
    box-shadow: 0px 0px 3px #3c56ed;
}

.doar h2, .apoio h2{
    padding: 0;
    margin: 0;
}

.doar, .apoio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 40%;
}

.doar{
    justify-content: center;
}

.apoio{
    justify-content: space-around;
}

.nav2 .btn-sair{
    background-color: #ed3c3c;
    color: white;
}

.nav2 .btn-sair:hover{
    background-color: white;
    color: #ed3c3c;
}

.div-sair{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}