@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(69, 121, 218);
    width: 100%;
}

.header{
    display: flex;
    background-color: rgb(32, 32, 32);
    height: 58.5px;
    width: 100%;
}

.footer{
    display: flex;
    background-color: rgb(32, 32, 32);
    height: 140px;
    width: 100%;
    margin-bottom: -18px;
}

.container{
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 24px;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, 0.39);
    padding: 20px;
}

.transf{
    border: 1px solid white;
    width: 300px;
    height: 300px;
    margin: 40px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

.transf:hover{
    position: relative;
    top: 1px;
    box-shadow: 1px 8px 17px rgba(0, 0, 0, 0.397);
}
.transf-comp{
    background-color: rgb(150, 150, 150);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 24px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .212);
    padding: 20px;
}

.transf p{
    padding: 0px 20px;
    font-size: 1.3rem;
}

.transf a{
    background-color: rgb(37, 66, 163);
    color: rgb(255, 255, 255);
}

.transf a:hover{
    color: rgb(37, 66, 163);
    background-color: white;
    border: 1px solid rgb(37,66,163);
}

.transf img{
    margin-top: 10px;
}

.transf2 img{
    margin-top: 40px;
}

.transf4 img{
    margin-top: 0;
}

form{
    font-size: 16px;
}

.transf4, .transf5{
    width: 370px;
}

.button{
    width: 96px;
    height: 38px;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(37,66,163);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header{
    background-color: cornflowerblue;
}

.modal-body h5, h4{
    display: flex;
    justify-content: left;
}

.modal-body ul{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
}
