@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body{
    backdrop-filter: blur(30px);
    margin-bottom: -12px;
}

div#borda {
    background-color:#222222;
    color: rgb(202, 187, 187);
    padding: 35Px;
    margin: -19px -8px auto -10px;
}

div#bordainf{
        background-color:#222222;
        color: rgb(202, 187, 187);
        width: 100%;
        height: 10%;
        margin-top: 30px;
}

.transf1{
    background-color: cornflowerblue;
    font-size: 15px;
    border: 2px solid black;
    width: 350px;
    height: min-content;
    margin-left: 15%;
    margin-top: 50px;
    /* margin-right: 60%;
    padding: 5Px 5px;
    margin-left: 10%;
    margin-top: 70px; */

    display: inline-block;
}

.transf2{
    background-color: cornflowerblue;
    font-size: 18px;
    border: 2px solid black;
    width: 350px;
    height: 15%;
    margin-left: 60.2%;
    margin-top: -270px;
    padding-top: 2%;
    padding-bottom: 1%;
    /* margin-right: 14%;
    padding: 5Px 5px;
    margin-left: 60%;
    margin-top: -200px; */
}

.transf3{
    background-color: cornflowerblue;
    border: 2px solid black;
    width: 350px;
    height: min-content;
    margin-left: 15%;
    margin-top: 150px;
    margin-bottom: 4%;
    /* margin-right: 60%;
    padding: 5Px 5px;
    margin-left: 10%;
    margin-top: 70px; */
    display: inline-block;
}

.transf4{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;
    width: 350px;
    height: 15%;
    margin-left: 60.2%;
    margin-top: -330px;
    padding-top: 2%;
    padding-bottom: 1.2%;
}

.transf5{
    text-align: center;
    background-color: cornflowerblue;
    border: 2px solid black;
    width: 350px;
    height: 35%;
    margin-top: 170px;
    margin-left: 37%;
    padding-top: 2%;
    padding-bottom: 15%;
}

#logo_credit{
    margin-left: 100px;
    margin-top: auto;
}

#logo_pix{
    margin-left: 60px; 
    margin-top: 10px;
}

#logo_alimentos{
    margin-left: 100px;
    margin-top: auto;
}

#logo_upload{
    margin-left: 20px; 
    margin-top: 10px;
}

.btn1{
    /* margin-left: 35%;
    border: 1px solid black;
    background-color: rgb(64, 119, 221);
    border-radius: 15%; */

    background-color: rgba(24, 45, 240, 0.911);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 35%;
    margin-top: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn2{
    /* margin-left: 35%;
    border: 1px solid black;
    background-color: rgb(64, 119, 221);
    border-radius: 15%; */

    background-color: rgba(24, 45, 240, 0.911);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: -10px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn3{
    /* margin-left: 35%;
    border: 1px solid black;
    background-color: rgb(64, 119, 221);
    border-radius: 15%; */

    background-color: rgba(24, 45, 240, 0.911);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 35%;
    margin-top: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-header{
    background-color: cornflowerblue;
}