
.container{
    width: 100%;
    height: 72hv;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-vagas{
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 400px;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 10px;
}

.linha-vagas{
    display: flex;
    width: 100%;
}

.vagas{
    display: flex;
    background-color: rgb(173, 173, 173);
    height: 45px;
    width: 65%;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
}

.vagas a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vagas:hover{
    cursor: pointer;
    background-color: rgb(176, 193, 202);
}
.qtd-vagas{
    background-color: rgb(139, 171, 190);
    height: 45px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Dark theme*/

.dark main .container{
    color: white;
}

.dark main .container .container-vagas{
    background-color: rgba(0, 0, 0, 0.911); 
}

.dark main .container .container-vagas .vagas{
    background-color: rgb(34, 34, 34);    
}

.dark main .container .container-vagas .vagas a{
    color: white;
}

.dark main .container .container-vagas .qtd-vagas{
    background-color: rgb(65, 40, 40);    
}