.container{
    display: flex;
    width: 100%;
    min-height: 72vh;
    align-items: center;
    justify-content: center;
}

.img-deficiencia{
    height: 72vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(224, 224, 224);
}

.img-deficiencia img{
    margin-top: 15px;
    width: 350px;
    height: 50%;
}

.img-deficiencia .descrição{
    width: 350px;
    max-width: 400px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.img-deficiencia .descrição h2{
    margin: 2px 0;
    margin-top: 8px;
    height: 30%;
}

.img-deficiencia .descrição p{
    text-indent: 35px;
    height: 70%;
}

.lista-empresas{
    background-color: rgb(207, 207, 207);
    height: 72vh;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.lista-empresas h2{
    margin-bottom: 20px;
}

.listas{
    display: flex;

    width: 550px;
    justify-content: space-around;
}

.lista-empresas .empresa{
    width: 210px;
    height: 60px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empresa img{
    width: 200px;
    height: 50px;
}

/****Dark theme*****/

.dark main .container .img-deficiencia{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

.dark main .container .lista-empresas{
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
}
